<div class="left">
  <ul class="primary condense  menu-bar">
    <!--li><a zf-toggle="menu">O</a></li>  only use if off canvas is used -->
    <li><a><strong>Synsei</strong></a></li>
    <li><input type="search" placeholder="Search" /></li>
  </ul>
  </div>

  <div class="right">
  <ul class="icon-left primary condense menu-bar">
    <li><a href="#"><img zf-iconic="" icon="thumb" size="small" class="iconic-color-primary"><span class="show-for-medium">User Preference</span></a></li>
    <li><a href="#"><img zf-iconic="" icon="thumb" size="small" class="iconic-color-primary"><span class="show-for-medium">Log Out</span></a></li>
  </ul>
</div>
